<%- include('master', 
{
  title :title ,
  body : `
  <h1>Selamat Datang Di Website Pariwisata Palembang</h1>
  <p>Ini adalah Halaman website official Pariwisata . Anda dapat memesan paket wisata pada website ini. Selamat Menikmati Keindahan wisata Palembang </p>
  `
})


%>